/*Login Page*/
.login-header{
	text-align: center
}

.css-form input.ng-invalid.ng-touched {
    background-color: #f2dede;
 }


.css-form input.ng-valid.ng-touched {
    background-color: #dff0d8;
}

.login-input{
	margin-top: 3%
}

.login-icon{
	margin-right: 5%
}

.login-button{
	width: 100%
}

.hideElement{
	visibility: hidden;
}

.showElement{
	visibility: visible;
}

/*Register User Page*/
.retype-password{
	background-color: #ffffff !important;
}

.invalid-input{
	color: #a94442
}

/*Customer Support Page*/
.customer-support-container{
	padding-left:30px;
}
.customer-support-label{
	font-size: 20px;
}
.customer-support-indtructions{
	font-size: 17px;
	padding-left: 10px;
}